.wrap {
  text-align: center;
  margin-bottom: 8px;
  .product {
    font-size: 48px;
    line-height: 60px;
    color: var(--color-text-0);
    .bend {
      font-weight: 600;
      color: var(--color-primary);
    }
    @include media {
      font-size: 36px;
      line-height: 52px;
    }
  }
  .sponser {
    font-size: 14px;
    line-height: 26px;
    color: var(--color-text-1);
    .link {
      color:  var(--color-primary);
      font-weight: 600;
    }
  }
  &.wrapOtherView {
    .product {
      font-size: 32px;
      line-height: 48px;
    }
  }
}
