.wrap {
  position: relative;
  display: inline-flex;
  @include media {
    width: 96%;
  }
}
.textarea {
  height: auto;
  resize: none;
  outline: unset;
  padding-top: 12px;
  padding-left: 44px;
  padding-right: 70px;
  padding-bottom: 12px;
  font-size: 14px;
  font-family: 'Poppins';
  font-style: normal;
  border: unset;
  width: 760px;
  background: var(--color-bg-5);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: rgba(255,255,255, 1);
  &::placeholder{
    color: rgba(255,255,255, 0.7);
    font-weight: 400;
  }
  &.textareaOthview {
    width: 557px;
  }
  &.textareaRegenerate {
    padding-right: 120px;
  }
  &.textareaFetching {
    padding-right: 70px!important;
  }
}
@include media {
  .textarea {
    width: 100%;
  }
}
.prefix {
  display: inline-block;
  background-color: var(--color-fill-0);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suffix {
  .text {
    position: absolute;
    right: 12px;
    top: 14px;
    color: var(--color-white);
    opacity: 0.7;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .send {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    top: 12px;
    border-radius: 4px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
      background-color: var(--color-primary-hover);
    }
  }
  .regenerate {
    position: absolute;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    height: 24px;
    right: 12px;
    top: 12px;
    background-color: var(--color-primary);
    border-radius: 4px;
    color: var(--color-white );
    cursor: pointer;
    &:hover{
      background-color: var(--color-primary-hover);
    }
    .regenerateLoading {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: not-allowed;
    }
    @include media {
      font-size: 12px;
    }
  }
}


.examples {
  .header {
    border-bottom: 1px dashed rgb(47 47 47);
    padding-bottom: 12px;
    padding-left: 12px;
    padding-top: 8px;
    color: rgba(255,255,255, 0.7);
  }
  .list {
    margin-top: 6px;
    padding-bottom: 6px;
    .item {
      height: 44px;
      line-height: 44px;
      border-radius: 6px;
      cursor: pointer;
      padding-left: 12px;
      &:hover {
        background-color: rgba(50,50,50,.8);
      }
    }
  }
 
}
.countLimit {
  position: absolute;
  font-size: 12px;
  right: 8px;
  bottom: -2px;
  color: var(--color-fill-2);
}
.maxLength {
  color: #FFC107;
}